h1 {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h1 {
  background:
    linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    ),
    linear-gradient(
      to right,
      rgb(209, 209, 209),
      rgb(128, 128, 128),
      rgb(64, 64, 64)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

h1:hover {
  background-size: 0 3px, 100% 3px;
}
 
 header {
  background-color: black;
  /* border-bottom: 3px dotted black; */
  border-bottom: 3px dotted white;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
} 



body {
  padding: 6% 0;
  margin: auto;
  background-image: url('img/2.jpg');
  color: #EEEEEE;
  text-align: center;
  font-family: "Lato", sans-serif;

}

#board {
    background-color: black;
    display: flex;
    width: 400px;
    margin: 3% auto;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .card {
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    transition: transform 0.3s;
  }

  .card.X {
    color: white;
    background-color: rgb(255, 32, 32);
    border-color: white;
  }
  
  .card.O {
    color: white;
    background-color: rgb(13, 69, 255);
    border-color: white;
  }

  .card.W {
    color: white;
    background-color: goldenrod;
    border-width: 0px;
  }
  .card.Tie {
    color: black;
    background-color: silver;
    border-width: 0px;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  #status {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
  }
  #status p{
    background-color: black;
    display: inline;
  }
  #ModeText {
    margin: 0% auto;
    background-color: black;
    display: inline-flex;
  }

  @media screen and (max-width: 1200px) {
    #ModeText {
      margin: 2% auto;
    }
  }
  .buttons {
    margin:2% auto;  
    size: 200px;
    width: 400px;
    justify-content: center;
    display: flex; 
  }

  .BoardBtn {
    position: relative;
    display: inline-block;
    margin: 4px 20px;
    font-size: 20px;
    padding: 10px 10px;
    background-color: black;
    border: 1px white solid;
    color: white;
  }
  .BoardBtn:hover {
    color:white;
    text-shadow: 0 0 7px white;
    letter-spacing: .12em;
  }
  .BoardBtn span {
    position: absolute;
    display: block;
    background-color: #ffffff;
  }
  .BoardBtn span:nth-child(1) {
    left: 0;
    top: 0;
    width: 50.5%;
    height: 2.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
  }
  .BoardBtn:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
  }
  .BoardBtn span:nth-child(2) {
    right: 0;
    top: 0;
    width: 50.5%;
    height: 2.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }
  .BoardBtn:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
  }
  .BoardBtn span:nth-child(3) {
    right: 0;
    top: 0;
    width: 2.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .2s;
  }
  .BoardBtn:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
  }
  .BoardBtn span:nth-child(4) {
    left: 0;
    top: 0;
    width: 2.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .2s;
  }
  .BoardBtn:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
  }
  .BoardBtn span:nth-child(5) {
    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 2.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    transition-delay: .3s;
  }
  .BoardBtn:hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
  }
  .BoardBtn span:nth-child(6) {
    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 2.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
    transition-delay: .3s;
  }
  .BoardBtn:hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .zoom-in-out-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: #ffffff;
    animation: zoom-in-zoom-out 2s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    10% {
      transform: scale(0.9, 0.9);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(0.9, 0.9);
    }
  }
  
#Choose {
  margin:2% auto;  
  size: 400px;
  justify-content: center;
  display: flex; 
  flex-direction: row;
} 

.level {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  height: 80px;
  width: 20%;
  font-size: 20px;
  margin: 4px;
  background-color: black;
  border: 1px white solid;
  color: white;
}
.level:hover {
  color:white;
  text-shadow: 0 0 7px white;
  letter-spacing: .12em;
}
.level span {
  position: absolute;
  display: block;
  background-color: #FFF;
}
.level span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}
.level:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}
.level span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.level:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
}
.level span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .2s;
}
.level:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}
.level span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .2s;
}
.level:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}
.level span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .3s;
}
.level:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: left;
}
.level span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .3s;
}
.level:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: right;
}

 .levelChoosen {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  height: 80px;
  width: 20%;
  font-size: 20px;
  margin: 4px;
  background-color: rgb(113, 113, 113);
  border: 1px black solid;
  color: black;
} 
.levelChoosen:hover {
  color:black;
  text-shadow: 0 0 4px white;
  letter-spacing: .12em;
}
.levelChoosen span {
  position: absolute;
  display: block;
  background-color: white;
}
.levelChoosen span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}
.levelChoosen:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}
.levelChoosen span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.levelChoosen:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
}
.levelChoosen span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .2s;
}
.levelChoosen:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}
.levelChoosen span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2.5px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform .5s;
  transition-delay: .2s;
}
.levelChoosen:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}
.levelChoosen span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .3s;
}
.levelChoosen:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: left;
}
.levelChoosen span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
  transition-delay: .3s;
}
.levelChoosen:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: right;
}

.navbar-brand:hover {
  cursor: pointer;
}
#playGame {
  size: 400px;
  justify-content: center;
  display: flex; 
}
.StartBtn {
  cursor: pointer;
  border-radius: 4px;
  height: 80px;
  width: 20%;
  font-size: 20px;
  margin: 4px 12px;
  background-color: black;
  border: 1px white solid;
  color: white;
}
.StartBtn2 {
  cursor: pointer;
  border-radius: 4px;
  height: 80px;
  width: 20%;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 4px 12px;
  background-color: #38E54D;
  border: 2px white solid;
  color: white;
}
.StartBtn2:after {
  content: '\23F5';
}
.StartBtn2 {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.StartBtn2:hover {
  letter-spacing: .20em;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 1000px) {
  #Choose {
    justify-content: center;
    display: flex; 
    flex-direction: column; /* Change to a column layout for larger screens */
  }
  #ModeText {
    margin: 5% auto auto;
  }
  .level { 
    width: 75%;
    margin: 1% auto;
  }
  .levelChoosen {
    width: 75%;
    margin: 1% auto;
  }
  .StartBtn {
    width: 75%;
    margin: 1% auto;
  }
  .StartBtn2 {
    width: 75%;
    margin: 1% auto;
  }
  #board {
    margin: 5% auto;
    width: 60%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  #board {
    margin: 10% auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #ModeText {
  margin: 15% 0% 0%;
  }
}
@media screen and (max-width: 480px) {
  #board {
    margin: 15% auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

/* dark mode  */
/* Add this CSS for the toggle switch */
/* Styles for the toggle switch */
.mode-toggle {
  /* display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: inherit; Set the font size to inherit from h1 */
  position: absolute;
  top: 30%;
  right: 2%;
}

.mode-toggle input[type="checkbox"] {
  display: none;
}

.mode-toggle label {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.mode-toggle .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-toggle .fa-sun,
.mode-toggle .fa-moon {
  font-size: 20px;
}

.mode-toggle .fa-moon {
  display: none;
}
.mode-toggle .fa-sun {
  color: black;
}

.mode-toggle input[type="checkbox"]:checked + label .fa-sun {
  display: none;
}

.mode-toggle input[type="checkbox"]:checked + label .fa-moon {
  display: inline-block;
}

.whiteBtn {
  position: relative;
  display: inline-block;
  margin: 4px 20px;
  font-size: 20px;
  padding: 10px 10px;
  background-color: white;
  border: 1px black solid;
  color: black;
}
.whiteBtn:hover {
  color:black;
  text-shadow: 0 0 7px black;
  letter-spacing: .12em;
}
.whiteBtn span {
  position: absolute;
  display: block;
  background-color: #000000;
}

.levelWhite {
  background-color: white;
  border: 1px black solid;
  color: black;
}
.levelWhite:hover {
  color:black;
  text-shadow: 0 0 7px black;
  letter-spacing: .12em;
}
.levelWhite span {
  position: absolute;
  display: block;
  background-color: #000;
}
.StartBtnWhite {
  background-color: white;
  border: 1px black solid;
  color: black;
}
.StartBtn2White {
  background-color: #38E54D;
  border: 2px white solid;
  color: white;
}
.StartBtn2White:after {
  content: '\23F5';
}
.StartBtn2White {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.StartBtn2White:hover {
  letter-spacing: .20em;
}

.levelChoosenWhite {
  background-color: rgb(113, 113, 113);
  border: 1px white solid;
  color: white;
} 

.boardWhite {
  background-color: white;
  display: flex;
  width: 400px;
  margin: 3% auto;
  flex-direction: column;
  align-items: center;
}

.cardWhite {
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  transition: transform 0.3s;
}

/* .cardWhite.X {
  color: white;
  background-color: rgb(255, 32, 32);
  border-color: black;
}

.cardWhite.O {
  color: white;
  background-color: rgb(13, 69, 255);
  border-color: black;
}

.cardWhite.W {
  color: white;
  background-color: goldenrod;
  border-width: 0px;
}
.cardWhite.Tie {
  color: white;
  background-color: silver;
  border-width: 0px;
} */